<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Create New Recepie Form</h1>

    <form action="/add-recepie" method="get">
      <input type="text" name="title" placeholder="Enter Title" />
      <br />
      <br />
      <textarea
        name="text"
        id=""
        cols="30"
        rows="4"
        placeholder="Enter description"
      ></textarea>
      <br />
      <br />
      <input type="text" name="img" placeholder="Enter Image URL" />
      <br />
      <br />
      <input type="number" name="id" placeholder="Enter ID" />
      <br />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
