<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>Welcome to Food Experts</h1>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt id
        laudantium quia deleniti, minima et vel culpa rerum laboriosam
        accusantium at explicabo in. Cumque numquam veritatis laudantium at
        ducimus consectetur! Veritatis quia a at magnam molestias in dolor
        itaque. Expedita, accusantium quam minus, nihil nemo, veritatis magni
        ipsam neque amet iusto voluptatum rerum nisi eaque id blanditiis ducimus
        exercitationem aut!
      </p>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
