<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navbar") %>

    <div class="container">
      <h1>We will Train you to loose weight</h1>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
